* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height : 100vh; 
  background-color : rgb(100, 98, 98); 
  color : white;   
  font-family : 'NanumSquare', sans-serif;
}

h1 {
  margin : 0 0 40px 0 ; 
}

img {
  width : 200px; 
  margin : 10px 0 20px; 
}

#chance-area {
  margin : 0 0 20px; 
}

input {
  margin : 20px 0 30px; 
  text-align: center;
  width : 150px; 
  height : 50px; 
  font-size : 1.2rem; 
  border-radius : 10px; 
  border : none ; 
}

button {
  background-color: lightgray; 
  width : 60px; 
  height : 60px; 
  cursor : pointer; 
  margin : 0 10px; 
  border-radius : 50%; 
  border : none; 
  color : black; 
  font-weight: 500;
}

button:disabled {
  cursor : not-allowed; 
}

button:hover {
  transform : scale(1.2);
  transition-duration: 0.1s;
}

#guess-list {
  display : none; 
}
